<!doctype html>
<html lang="{{ site.language}} ">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <!-- <meta name="google-site-verification" content="{{ site.google-verification }}"> -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=5A5MwddE2k">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png?v=5A5MwddE2k" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png?v=5A5MwddE2k" sizes="16x16">
<link rel="manifest" href="/assets/favicon/manifest.json?v=5A5MwddE2k">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=5A5MwddE2k" color="#b7a86e">
<link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=5A5MwddE2k">
<meta name="apple-mobile-web-app-title" content="Harlowe's">
<meta name="application-name" content="Harlowe's">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=5A5MwddE2k">
<meta name="theme-color" content="#b7a86e">

  <link id="snipcart-theme" type="text/css"
    href="https://cdn.snipcart.com/themes/base/snipcart.min.css"
    rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/app.css">

</head>
<body class="cf-snipcart{% if site.data.settings.online_ordering_enabled %} can-order{% endif %}">
